<div class="jumbotron">
  <h1 class="display-4">Делитесь своими эмоциями</h1>
  <p class="lead">Подписывайтесь на публикации и подписывайтесь на ваших друзей</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Создать аккаунт</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Войти</a>
  </p>
</div>